*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
build/
/captures
.externalNativeBuild
/.idea
/manager/signing.properties
/out
/signing.properties
/.kotlin
*.log
.workbuddy/
